<configuration>
    <ppdai>
        <logging >
            <appender name = "console" type = "ppdai.logging.appender.ConsoleAppender" level = "INFO"/>
            <!--<appender name = "file" type = "ppdai.logging.appender.FileAppender" level = "ERROR" root="D:\logs\marketing-rt"/>-->
            <appender name = "server" type = "ppdai.logging.appender.CentralizedAppender" level = "INFO" server="http://ws.logging.arch.ppdaicorp.com" applicationid="1000002170"/>
        </logging>
        <metric>
            <reporter name="kairosDBReporter" type="ppdai.metrics.reporter.KairosdbReporter" server="kairosdb.ubt.arch.ppdaicorp.com" port="80" />
        </metric>
    </ppdai>
</configuration>

